@using PagedList;
@using PagedList.Mvc;

@model IPagedList<HarmonyWebApp.Entities.Activity>

@{
    ViewBag.Title = "Harmony - Twoje kursy";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h5 class="panel-title"><b><center>Lista zajęć, na które jesteś zapisany</center></b></h5>
    </div>

    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-body">

                <table class="table table-striped table-condensed table-bordered">

                    <tr>
                        <th><center>Kod grupy</center></th>
                        <th><center>Nazwa</center></th>
                        <th><center>Opis</center></th>
                        <th><center>Rozpoczęcie</center></th>
                        <th><center>Zakończenie</center></th>
                        <th><center>Prowadzący</center></th>
                        <th><center>Miejsce</center></th>
                        <th><center>Forma</center></th>
                        <th><center>Ilość miejsc</center></th>
                        <th><center>Ects</center></th>
                        <th><center>Akcje</center></th>
                    </tr>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="min-width: 100px"><center>@item.Code</td>
                            <td style="min-width: 100px"><center>@item.Name</td>
                            <td style="min-width: 100px"><center>@item.Description</td>
                            <td style="min-width: 100px"><center>@item.StartDate</td>
                            <td style="min-width: 100px"><center>@item.EndDate</td>
                            <td style="min-width: 100px"><center>@item.Instructor</td>
                            <td><center>@item.Place</td>
                            <td><center>@item.CourseForm</td>
                            <td style="min-width: 100px"><center>@item.SeatsOccupied / @item.NumberOfSeats</td>
                            <td><center>@item.Ects</td>
                            <td>
                                @using (Html.BeginForm("UnsubscribeCourse", "Home"))
                                {
                                    @Html.Hidden("id", item.Id)
                                    <input type="submit" value="Wypisz" />
                                }
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>
@Html.PagedListPager(Model, page => Url.Action("UserCourses", new { page }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })
