@using PagedList;
@using PagedList.Mvc;

@model IPagedList<HarmonyWebApp.Entities.Activity>

@{
    ViewBag.Title = "Harmony - Twoje kursy";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="col-md-12 white-bg text-content">

    <h1>Twoje kursy:</h1>

    <table class="custom-table">
        <thead>
        <tr>
            <th scope="col">Kod grupy</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Rozpoczęcie</th>
            <th scope="col">Zakończenie</th>
            <th scope="col">Prowadzący</th>
            <th scope="col">Miejsce</th>
            <th scope="col">Forma</th>
            <th scope="col">Ilość miejsc</th>
            <th scope="col">ECTS</th>
            <th scope="col">Akcja</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row" data-label="Kod grupy">@item.Code</td>
                <td data-label="Nazwa">@item.Name</td>
                <td data-label="Opis">@item.Description</td>
                <td data-label="Rozpoczęcie">@item.StartDate</td>
                <td data-label="Zakończenie">@item.EndDate</td>
                <td data-label="Prowadzący">@item.Instructor</td>
                <td data-label="Miejsce">@item.Place</td>
                <td data-label="Forma">@item.CourseForm</td>
                <td data-label="Ilość miejsc">@item.SeatsOccupied / @item.NumberOfSeats</td>
                <td data-label="ECTS">@item.Ects</td>
                <td data-label="Akcja">
                    @using (Html.BeginForm("UnsubscribeCourse", "Home"))
                    {
                        @Html.Hidden("id", item.Id)
                        <input type="submit" value="Wypisz"/>
                    }
                </td>
            </tr>
        }

        </tbody>
    </table>

    <div class="pagination-container">
        @Html.PagedListPager(Model, page => Url.Action("UserCourses", new {page}), new PagedListRenderOptions() {Display = PagedListDisplayMode.IfNeeded})
    </div>

</div>

