@{
    ViewBag.Title = "Harmony - Administracja";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "Courses",
        Url = Url.Action("CoursesList")
    };
}

<div class="col-md-12 white-bg text-content">

    @using (Ajax.BeginForm(ajaxOpts))
    {
        <h1>Panel administacyjny - baza dostępnych kursów</h1>

        <div class="col-md-12">
            <label class="custom-label yolo">
                @Html.RadioButton("searchBy", "Name", true)Nazwa
            </label>

            <label class="custom-label yolo">
                @Html.RadioButton("searchBy", "Code")Kod grupy
            </label>
        </div>

        <div class="col-md-12" style="margin-bottom: 50px;">
            <br>
            @Html.TextBox("searchString", null, new { @class = "input-custom" })
            <input type="submit" class="panel-button" value="Szukaj" />
        </div>
    }

    <div id="Courses">
        @Html.Action("CoursesList")
    </div>

    @Html.ActionLink("Stwórz nowy kurs", "Create", null, new { @class = "panel-button" })

</div>