@using PagedList.Mvc
@model PagedList.IPagedList<HarmonyWebApp.Models.ActivityViewModel>

<table class="custom-table">
    <thead>
    <tr>
        <th scope="col">Kod grupy</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Opis</th>
        <th scope="col">Rozpoczęcie</th>
        <th scope="col">Zakończenie</th>
        <th scope="col">Częstość</th>
        <th scope="col">Prowadzący</th>
        <th scope="col">Miejsce</th>
        <th scope="col">Forma</th>
        <th scope="col">Ilość miejsc</th>
        <th scope="col">ECTS</th>
        <th scope="col">Kierunek</th>
        <th scope="col">Wydział</th>
        <th scope="col">Akcja</th>
    </tr>
    </thead>

    <tbody>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="14"> Brak zajęć o podanym kryterium </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td scope="row" data-label="Kod grupy">@item.Code</td>
                <td data-label="Nazwa">@Html.ActionLink(item.Name, "Edit", new { item.Id })</td>
                <td data-label="Opis">@item.Description</td>
                <td data-label="Rozpoczęcie">@item.StartDate</td>
                <td data-label="Zakończenie">@item.EndDate</td>
                <td data-label="Częstość">@item.Every_x_Days</td>
                <td data-label="Prowadzący">@item.Instructor</td>
                <td data-label="Miejsce">@item.Place</td>
                <td data-label="Forma">@item.CourseForm</td>
                <td data-label="Ilość miejsc">@item.SeatsOccupied / @item.NumberOfSeats</td>
                <td data-label="ECTS">@item.Ects</td>
                <td data-label="Kierunek">@item.FieldOfStudyName</td>
                <td data-label="Wydział">@item.DepartmentName</td>
                <td data-label="Akcja">
                    @using (Html.BeginForm("Delete", "Admin"))
                    {
                        @Html.Hidden("id", item.Id)
                        <input type="submit" value="Usuń" />
                    }
                </td>

            </tr>
        }
    }

    </tbody>

</table>

@Html.PagedListPager(Model, page => Url.Action("CoursesPage", new { page, searchBy = Request.QueryString["searchBy"], searchString = Request.QueryString["searchString"] }),
                new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded })