@{
    ViewBag.Title = "Harmony - Administracja";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    AjaxOptions ajaxOpts = new AjaxOptions
    {
        UpdateTargetId = "Courses",
        Url = Url.Action("CoursesList")
    };
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h5 class="panel-title"><b><center>Panel administacyjny - baza dostępnych kursów</center></b></h5>
    </div>

    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-body">

                <p>
                    @using (Ajax.BeginForm(ajaxOpts))
                    {
                    <p>
                        Szukaj za pomocą:
                        @Html.RadioButton("searchBy", "Name", true) Nazwa
                        @Html.RadioButton("searchBy", "Code") Kod grupy<br />
                        @Html.TextBox("searchString")
                        <input type="submit" value="Szukaj" />
                    </p>
                    }
                    </p>
                </div>
            </div>

            <div class="panel panel-default" id="Courses">
                @Html.Action("CoursesList")
            </div>


            <div class="panel panel-default">
                <div class="panel-body">
                    @Html.ActionLink("Stwórz nowy kurs", "Create", null, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    </div>



