@model IEnumerable<HarmonyWebApp.Models.UsersActivitiesViewModel>

@{
    ViewBag.Title = "UsersActivities";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="col-md-12 white-bg text-content">
   
    @if (Model.Count() == 0)
    {
        <h5><b>Ten użytkownik nie posiada przypisanych zajęć</b></h5>

    }
    else
    {
        <h4><b>Edycja zajęć użytkownika: @Model.FirstOrDefault().FirstName @Model.FirstOrDefault().LastName</b></h4>
    }

    <table class="custom-table">
        <thead>
        <tr>
            <th scope="col">Id kursu</th>
            <th scope="col">Nazwa kursu</th>
            <th scope="col">Kod kursu</th>
            <th scope="col">Ilość miejsc</th>
            <th scope="col">Forma kursu</th>
            <th scope="col">Kierunek</th>
            <th scope="col">Wydział</th>
            <th scope="col">Akcja</th>
        </tr>
        </thead>



        <tbody>
            @if (Model.Count() == 0)
            {
            <tr>
                <td colspan="8"> Uzytkownik nie jest zapisany na żadne zajęcia </td>
            </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td scope="row" data-label="Id kursu">@item.CourseId</td>
                        <td data-label="Nazwa kursu">@item.CourseName</td>
                        <td data-label="Kod kursu">@item.CourseCode</td>
                        <td data-label="Ilość miejsc">@item.SeatsOccupied / @item.NumberOfSeats</td>
                        <td data-label="Forma kursu">@item.CourseForm</td>
                        <td data-label="Kierunek">@item.FieldName</td>
                        <td data-label="Wydział">@item.DepartmentName</td>
                        <td data-label="Akcja">
                            @using (Html.BeginForm("DeleteUserFromActivity", "Admin", item, FormMethod.Post))
                            {
                                @Html.Hidden("id", item.UserId)
                                <input type="submit" value="Wypisz"/>
                            }
                        </td>
                    </tr>
                }
            }
       

        </tbody>
    </table>

</div>