
@using HarmonyWebApp.Models
@using Microsoft.AspNet.Identity
@model  HarmonyWebApp.Models.IdentityViewModel

@{
    ViewBag.Title = "Administracja - edycja użytkownika";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="panel">
<div class="panel-body">
    <h3>Edycja użytkownika: @Model.FirstName @Model.LastName</h3>
    <h2>Uwaga - zmiana kierunku studiów spowoduje automatyczne wypisanie użytkownika z wszystkich kursów.</h2>
</div>


    @using (Html.BeginForm("EditUser", "Admin"))
    {
        <div class="panel-body">
            @Html.HiddenFor( m => m.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {

                if (property.PropertyName == "FieldOfStudyId")
                {

                    <div class="form-group ">
                        <label class="col-md-2 control-label">Kierunek studiów</label>
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.FieldOfStudyId, Model.CoursesList, null, new { @class = "form-control" })
                        </div>
                        
                    </div>
                }
                else
                {

                    if (property.PropertyName == "FullTimeStudies")
                    {             
                        <div class="form-group">
                            <label class="col-md-2 control-label">Typ studiów</label>
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.FullTimeStudies)
                                @Html.CheckBoxFor(m => m.FullTimeStudies)                           
                            </div>
                        </div>
                    }

                    else if (property.PropertyName == "Student")
                    {
                        <div class="form-group">
                            <label class="col-md-2 control-label">Rodzaj użytkownika</label>
                            <div class="col-md-10">
                                @Html.LabelFor(m => m.Student)
                                @Html.CheckBoxFor(m => m.Student)
                            </div>
                        </div>
                    }


                    else if (property.PropertyName != "CoursesList" && property.PropertyName != "DepartmentId" && property.PropertyName != "Id")
                    {
                    <div class="form-group">
                        <label class="col-md-2 control-label">@property.DisplayName</label>
                        <div class="col-md-10">
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        </div>
                        </div>
                     }
                 }
            }
            
        </div>

        <div class="panel-footer">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
            @Html.ActionLink("Anuluj i wróć do listy użytkowników", "UsersData", null, new { @class = "btn btn-default" })
        </div>

    }
</div>