@using HarmonyWebApp.Models
@using Microsoft.AspNet.Identity
@model  HarmonyWebApp.Models.IdentityViewModel

@{
    ViewBag.Title = "Administracja - edycja użytkownika";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12 white-bg text-content">
    <h1>Edycja danych użytkownika</h1>
    <h4><span class="glyphicon glyphicon-exclamation-sign"></span>  Uwaga - zmiana kierunku studiów spowoduje automatyczne wypisanie użytkownika z wszystkich kursów.</h4>

    @using (Html.BeginForm("EditUser", "Admin"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {

                if (property.PropertyName == "FieldOfStudyId")
                {   <br/><br/>
                    <div class="label-row">
                        <label>Kierunek studiów</label>
                        @Html.DropDownListFor(m => m.FieldOfStudyId, Model.CoursesList)
                    </div>
                    <br /><br />
                }
                else
                {
                    if (property.PropertyName == "FullTimeStudies")
                    {
                        <div class="label-row">
                            <label>Typ studiów</label>
                            @Html.LabelFor(m => m.FullTimeStudies)
                            @Html.CheckBoxFor(m => m.FullTimeStudies)
                        </div>
                    }

                    else if (property.PropertyName == "Student")
                    {
                        <div class="label-row">
                            <label>Rodzaj użytkownika</label>
                                @Html.LabelFor(m => m.Student)
                                @Html.CheckBoxFor(m => m.Student)
                        </div>
                    }


                    else if (property.PropertyName != "CoursesList" && property.PropertyName != "DepartmentId" && property.PropertyName != "Id" && property.PropertyName != "ImageBytes")
                    {
                        <div class="label-row">
                            <label>@property.DisplayName</label>
                                @Html.TextBox(property.PropertyName, null, new { @class = "custom-edit" })
                        </div>
                    }
                }
            }

        </div>

            <input type="submit" value="Zapisz" class="panel-button" />
            @Html.ActionLink("Anuluj i wróć do listy użytkowników", "UsersData", null, new { @class = "panel-button" })
    }
</div>

