@model HarmonyWebApp.Entities.Activity
@{
    ViewBag.Title = "Harmony - Administracja";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12 white-bg text-content">


    @if (@Model.Name != null)
    {
        <h2>Edycja kursu: @Model.Name</h2>
        <br/><br/>
    }
    else
    {
        <h2>Stwórz nowy kurs</h2>
    }

    @using (Html.BeginForm("Edit", "Admin"))
    {
        @Html.HiddenFor(m => m.Id)
        foreach (var property in ViewData.ModelMetadata.Properties)
        {
            <div class="label-row">
                @if (property.PropertyName != "Id" && property.PropertyName != "UsersWithActivities")
                {
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                if (property.PropertyName == "description")
                {
                @Html.TextArea(property.PropertyName, null, new { @class = "custom-edit", rows = 5 })
                }
                else
                {
                @Html.TextBox(property.PropertyName, null, new { @class = "custom-edit" })
                }
                }
            </div>
        }

        <input type="submit" value="Zapisz" class="panel-button"/>
        @Html.ActionLink("Anuluj i wróć do listy", "CoursesPage", null, new { @class = "panel-button"})
    }

</div>