@model HarmonyWebApp.Entities.Activity
@{
    ViewBag.Title = "Harmony - Administracja";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="panel panel-success">
    <div class="panel-heading">

        @if (@Model.Name != null)
        {
            <text>
                <h5 class="panel-title"><b><center>Edycja kursu: @Model.Name</center></b>
            </text>
        }
        else
        {
            <text>
                <h5 class="panel-title"><b><center>Stwórz nowy kurs</center></b>
            </text>
        }


</div>



    @using (Html.BeginForm("Edit", "Admin"))
            {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "Id" && property.PropertyName != "UsersWithActivities")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @if (property.PropertyName == "description")
                        {
                            @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
                        }
                        else
                        {
                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        }
                    </div>
                }
            }
        </div>

        <div class="panel-footer">
            <input type="submit" value="Zapisz" class="btn btn-success" />
            @Html.ActionLink("Anuluj i wróć do listy", "CoursesPage", null, new { @class = "btn btn-default" })
        </div>

    }
</div>

