@model HarmonyWebApp.Models.UserInfoViewModel

@{
    ViewBag.Title = "Harmony - Administracja";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="panel panel-success">
<div class="panel-heading">
    <h5 class="panel-title"><b><center>Strona główna - panel administratora</center></b></h5>
</div>

<div class="panel-group">

    <div class="panel panel-default">
        <div class="panel-body">

            Imię i nazwisko: <strong>@Model.FirstName @Model.LastName</strong> <br />
            Adres: <strong>@Model.Address, @Model.PostalCode @Model.City</strong> <br />

        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="text-success">
                <strong><h4><center>Posiadasz uprawnienia administratora Harmony</center></h4></strong>
            </div>
        </div>
    </div>
</div>
</div>

