@model HarmonyWebApp.Models.UserInfoViewModel

@{
    ViewBag.Title = "Harmony - Administracja";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-lg-12 white-bg text-content">

    <div class="col-md-6">
        <h1>Panel administratora</h1>
        <p>Imię i nazwisko: <span>@Model.FirstName @Model.LastName</span></p>
        <p>Adres: <span>@Model.Address, @Model.PostalCode @Model.City</span></p>

    </div>
    <div class="col-md-6">
        @if (@Model.ImageBytes != null)
        {
            <img id="zdjecie" src="data:image/jpg;base64, @Convert.ToBase64String(@Model.ImageBytes)" class="frame" />
        }
        else
        {
            <img src="~/Content/img/user_photo.jpg" class="frame">

        }
    </div>
</div>