@model HarmonyWebApp.Models.UserAccount.UserLoginInfo

@{
    ViewBag.Title = "Harmony: Logowanie (administrator)";
}

<div class="panel">

    <div class="panel-heading">
        <h1>Harmony</h1>
    </div>

    <div class="panel-body">
        <p class="lead">Proszę się zalogować, aby uzyskać dostęp do panelu administratora.</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label>Login:</label>
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label>Hasło:</label>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Zaloguj" class="btn btn-success" />
                </div>
            </div>
        }
    </div>
</div>

<div class="btn-group-vertical-lg">
    <center>
        @Html.ActionLink("Przejdź do panelu użytkownika", "Login", "Account", null, new { @class = "btn btn-warning" })

        @Html.ActionLink("Załóż nowe konto", "Register", "Account", null, new { @class = "btn btn-primary " })
    </center>
</div>