@using Microsoft.AspNet.Identity
@model IEnumerable<HarmonyWebApp.Models.UserInfoViewModel>

@{
    ViewBag.Title = "Dane użytkowników";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12 white-bg text-content">
    <h1>Lista użytkowników</h1>

    <table class="custom-table">
        <thead>
            <tr>
                <th scope="col">Imię i nazwisko</th>
                <th scope="col">Adres</th>
                <th scope="col">Kod pocztowy</th>
                <th scope="col">Miasto</th>
                <th scope="col">Student</th>
                <th scope="col">Studia stacjonarne</th>
                <th scope="col">Wydział</th>
                <th scope="col">Kierunek</th>
                <th scope="col">Akcja</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row" data-label="Imię i nazwisko">@Html.ActionLink(item.FirstName + " " + item.LastName, "EditUser", new { item.Id }) </td>
                    <td data-label="Adres">@item.Address</td>
                    <td data-label="Kod pocztowy">@item.PostalCode</td>
                    <td data-label="Miasto">@item.City</td>
                    <td data-label="Student">@(item.Student ? "TAK" : "NIE")</td>
                    <td data-label="Studia stacjonarne">@(item.FullTimeStudies ? "TAK" : "NIE")</td>
                    <td data-label="Wydział">@item.DepartmentName</td>
                    <td data-label="Kierunek">@item.FieldOfStudyName</td>
                    <td data-label="Akcja">
                        @Html.ActionLink("Zajęcia użytkownika", "EditUsersActivities", new { item.Id })
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
