@model HarmonyWebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Harmony - Rejestracja";
}

<h1 class="text-center">Aby korzystać z serwisu <span>zarejestruj się.</span></h1>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h4><b>Wybierz kierunek studiów</b></h4>
    @Html.DropDownListFor(m => m.FieldOfStudyId, Model.CoursersList)
    <br/><br/>

    <h4><b>Wybierz typ studiów</b></h4>
    <label class="custom-label">@Html.CheckBoxFor(m => m.FullTimeStudies)Stacjonarne</label>

    <label class="custom-label">@Html.CheckBoxFor(m => m.PartTimeStudies)Niestacjonarne</label>
    <br /><br />

    @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "Imię" })
    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Nazwisko" })
    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.Address, new { @placeholder = "Adres" })
    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.PostalCode, new { @placeholder = "Kod pocztowy" })
    @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.City, new { @placeholder = "Miejscowość" })
    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })

    @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email" })
    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

    @Html.PasswordFor(m => m.Password, new { @placeholder = "Hasło" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Potwierdź hasło" })
    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })

    <br/><br/>
    <input type="submit" class="btn btn-default" value="Zarejestruj" />
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}