@model HarmonyWebApp.Models.UserAccount.UserRegisterInfo

@{
    ViewBag.Title = "Harmony: Panel rejestracyjny";
}

<div class="panel">

    <div class="panel-heading">
        <h2>Rejestracja</h2>
    </div>

    <div class="panel-body">
        <p class="lead">Proszę podać poniższe parametry w celu utworzenia konta użytkownika:</p>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Login:</label>
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Hasło:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Adres e-mail:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
            <input type="submit" value="Stwórz konto" class="btn btn-success" />
        }
    </div>
</div>


<div class="btn-group-vertical-lg">
        @Html.ActionLink("Powrót do strony logowania", "Login", "Account", null, new { @class = "btn btn-primary " })
</div>
