<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/cssLoggedIn")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body id="admin-panel">
    <header>
        <input type="checkbox" id="checkbox">
        <label class="btn" id="btn-menu" for="checkbox">
            <i class="fa fa-bars"></i> <span>Menu</span>
        </label>

        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
            }
        }

        <div class="sidebar">
            <ul>

                <a href="~/Admin/Index">
                    <li><i class="fa fa-home" aria-hidden="true"></i>Strona Główna</li>
                </a>

                <a href="~/Admin/CoursesPage">
                    <li><i class="fa fa-calendar" aria-hidden="true"></i>Kursy</li>
                </a>

                <a href="~/Admin/UsersData">
                    <li><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Użytkownicy</li>
                </a>

                <a href="#" class="dropdown" data-toggle="dropdown" type="button" id="settings-menu">
                    <li><i class="fa fa-user" aria-hidden="true"></i>Ustawienia konta</li>
                </a>

                <div class="submenu-custom" id="settings-submenu">
                    <a href="~/Admin/PictureUpload">
                        <li><i class="fa fa-picture-o" aria-hidden="true"></i>Dodaj zdjęcie</li>
                    </a>
                </div>

                <a href="javascript:document.getElementById('logoutForm').submit()"><li><i class="fa fa-power-off"></i>Wyloguj</li></a>
            </ul>
        </div>

        <div class="topnav" style="position: relative; top: 0px;">
            <div class="container container-custom">
                <div id="panel-topnav">
                    <img src="~/Content/img/logo.png" class="img-responsive2">
                    <span>Harmony</span>
                </div>
            </div>
        </div>

        <section class="content">
            <div class="container">
                @if (TempData["message"] != null)
                {
                    <div class="alert alert-success"> @TempData["message"] </div>
                }
                    
                @RenderBody()
            </div>
        </section>
    </header>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>